.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: center;
}

.card {
  list-style-type: none;
}

.card__list {
}

.card__list-item {
  list-style-type: none;
}

.card__list-divider {
  border-bottom: 1px;
}
