.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 0 24px;
  padding: 0;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu__cards {
  margin: 100px 0;
  padding: 0;
  list-style-type: none;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
